@import url('https://fonts.cdnfonts.com/css/montserrat');

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.bg-black {background: #1c1c1c}
.bg-white {background: rgb(251, 255, 255)}
.p-16 { padding: 16px;}
.col-black { color: black }
.col-white { color: white }
.justify-content-center { justify-content: center }
.p-bot-64 { padding-bottom: 64px}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}


/* Element hide/show animations */
.hide-top {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(-100%);
  transition: all 1s;
}

.hide-left {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hide-right {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(100%);
  transition: all 1s;
}

.hide-opacity {
  opacity: 0; 
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}